/* Container for the whole page */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
  }
  
  /* Banner styling with rounded corners */
  .banner {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .banner-img {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Rounding the banner's corners */
  }
  
  .banner-content {
    position: absolute;
    top: 20%;
    left: 20px;
    color: white;
  }
  
  /* TV Show List */
  .tv-show-list h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .tv-show-item {
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  